:root {
  --color-random: #b30024;
}

.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
.imageDiv {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.imageDiv > div {
  width: 750px;
  height: 1000px;
  position: absolute;
  left: 303px;
}

.overlaidImgDiv {
  background-color: var(--color-random);
}

.underlaidImdDiv {
  mix-blend-mode: darken;
}
